.input {
  width: 100%;
  max-width: 20.625rem;
  height: clamp(2.375rem, 5vw, 3rem);
  border-radius: 4px;
  background-color: var(--input-background-grey);
  border: 1px solid transparent;
  color: var(--white-text-color);
  padding-left: 0.75rem;
  font-size: clamp(0.8125rem, 0.571rem + 0.476vw, 1rem);
  font-weight: 400;

  &:valid {
    outline: 1px solid var(--white-text-color);
  }
  &:invalid {
    outline: none;
  }

  &:-ms-input-placeholder {
    color: var(--grey-text-color);
  }
}

.button {
  width: 100%;
  max-width: 20.625rem;
  height: clamp(2.375rem, 5vw, 3rem);
  border-radius: 0.25rem;
  font-size: clamp(0.8125rem, 0.571rem + 0.476vw, 1rem);
  font-weight: 500;
  color: var(--white-text-color);
  background-color: var(--grey-text-color);
}

.pink {
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

.select {
  width: 100%;
  max-width: 20.625rem;
  height: clamp(2.375rem, 5vw, 3rem);
  border-radius: 4px;
  background-color: var(--input-background-grey);
  border: 1px solid transparent;
  color: var(--white-text-color);
  padding-left: 0.75rem;
  font-size: clamp(0.8125rem, 0.571rem + 0.476vw, 1rem);
  font-weight: 400;

  &:valid {
    outline: 1px solid var(--white-text-color);
  }
}
